:root {
    --primary-color: rgb(179, 185, 187);
}

* {
    box-sizing: border-box;
    outline: 0;
}  

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-size: 1.3em;
    line-height: 1.5em;
} 

.container {   
    max-width: 640px;
    margin: 50px auto;
    background: #fff;    
    padding: 20px;
    border-radius: 10px;
    display: flex; 
    justify-content: space-around;    
    width: 7000px;
    height: auto;  
}

.container-relogio {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 100px;
    font-size: 40px;
    display: 50px; 
    
}

.formulario {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    width: 500px;
}  

.div-usuario,
.div-atividade,
.div-tipoatividade {
 float: left;
 width: 30%;
}  

.inputs { 
    padding: 20px;
    margin: 15px;
    border: 1px solid black;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    background-color: white;  
    justify-content: center;
    justify-content: space-between;
    
}

#input-usuario,
#input-atividade,
#input-tipoatividade {

  box-sizing: border-box;
  width: 100%;
  height: 30px;
  left: 510px;
  top: 332px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 40;
  font-size: 24px;
  line-height: 28px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  color: #000000; 
  justify-content: space-between;
  
}
 


img { 
   max-width:100px;
   max-height:150px;
   width: auto;
   height: auto;
   display: block;
   margin-left: auto;
   margin-right: auto;      
}

.pausado {   
    color: red
}
 
.iniciar {
    font-family: arial;
    font-size: 14px;
    text-transform: uppercase; 
    font-weight:700;
    border:none;
    padding:10px;
    cursor: pointer;
    display:inline-block;
    text-decoration: none;
} 

.btn-green {
    
    border-radius: 50%;
    color:#fff;
    box-shadow:0 5px 0 #33dd11fd ;
}

.btn-green:active {
    position: relative;
    top:5px;
    box-shadow:none;
}

.pausar {
    font-family: arial;
    font-size:14px;
    text-transform: uppercase;
    font-weight:700; 
    border:none;
    padding:10px;
    cursor: pointer;
    display:inline-block;
    text-decoration: none;

}

.btn-yellow {
    border-radius: 50%;
    color:#fff;
    box-shadow:0 5px 0 #b0dd0d;

}

.btn-yellow:active {
    position: relative; 
    top:5px;
    box-shadow:none;

}

.botao-salvar {
    border-radius: 50%;
    color:#fff;
    box-shadow:0 5px 0 #a31e1e;
}
    
.btn-red {
    border-radius: 50%;
    color:#fff;
    box-shadow:0 5px 0 #a31e1e;
}

.btn-red:active {
    position: relative;
    top:5px;
    box-shadow:none;
}
 
header {
    background-color: #fff;
}



